* {
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre';

}



.header {
    background-image: url("about/b1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 50vh;
    /*animation: change 30s infinite ease-in-out;*/
}


body {
    background-color: #FAEBE0;
}

#logo {
    width: 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-top: 10px;
    background-color: #FFB9B9;
    height: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;


}


.header #navbar li a {
    background-image: linear-gradient(to right,
            #F6F5F2,
            #F6F5F2 50%,
            #D2649A 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.header #navbar li a:before {
    content: '';
    background: #F6F5F2;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.header #navbar li a:hover {
    background-position: 0;
}

.header #navbar li a:hover::before {
    width: 100%;
}

.header #navbar li a.active {
    background-position: 0;


}

.headtag {
    text-align: center;
    margin-top: 100px;
    color: white;

}

#main {
    display: flex;
    margin-right: 30px;
}

#main img {
    width: 50%;
    height: 70vh;
    margin: 50px 80px;
    border-radius: 10px;
    box-shadow: rgba(152, 6, 6, 0.35) 0px 5px 15px;

}

.headtag h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
}

#main .abt-txt h1 {
    color: #D2649A;
    margin-top: 50px;
    font-size: 50px;
}

marquee {
    color: white;
}

#main .abt-txt p {
    color: #D2649A;
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 30px;
}

#main2 {
    display: flex;
    margin-left: 30px;
}



#main2 img {
    width: 50%;
    height: 70vh;
    margin: 50px 80px;
    border-radius: 10px;
    box-shadow: rgba(152, 6, 6, 0.35) 0px 5px 15px;

}

#main2 .abt-txt2 h1 {
    color: #D2649A;
    margin-top: 50px;
    font-size: 50px;
}

#main2 .abt-txt2 p {
    color: #D2649A;
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 30px;
}


.headtag p {
    font-size: 20px;
}

#about-app {
    text-align: center;
    font-size: 27px;
    margin-top: 90px;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;

}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.commit h1 {
    color: #D2649A;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}


.commit p {
    color: #D2649A;
    font-size: 20px;
    padding: 50px;
    text-align: center;
}

.center {
    margin-top: 0;
    width: 100%;
    margin-left: 8px;
}

.fe {
    padding: 40px 80px;

}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 10px;
    border: 1px solid black;
    box-shadow: rgba(152, 6, 6, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin: 15px 0;
    transition: all 0.25s;
    background-color: #F6F5F2;


}

#feature .fe-box:hover {
    box-shadow: rgba(152, 6, 6, 0.35) 0px 15px 15px;
    transform: translateY(-0.25em);
}

#feature .fe-box h6 {

    padding: 10px 10px;
    margin: 0 25px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #f4e5b7;
    color: #d33e3e;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;

}


#social-test {
    display: table-cell;

    font-size: 20px;

    h2 {
        color: #fff;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-weight: 100;
    }



    li {
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px;
        color: #d33e3e;
        list-style-type: none;
        display: inline-block;


        cursor: pointer;

        transition: ease 0.2s;

        &:hover {
            color: #FFD966;
        }
    }
}


.social:hover>li {
    opacity: 0.5;
}

.social:hover>li:hover {
    opacity: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

footer .col1 h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

footer .col1 p {
    margin-bottom: 10px;
}

footer .col1 h4,
footer .col1 p {
    margin-left: 30px;
}



footer .col2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;

}

footer .col2 h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer .col2 a {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;

}

footer .col3 {
    display: flex;
    flex-direction: column;
}

footer .col3 h4 {
    font-size: 20px;
    margin-bottom: 12px;
}

footer .col3 a {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

footer .col-install {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 36px;
}

footer .col-install h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer .col-install p {
    margin-bottom: 10px;
}

#end {
    text-align: center;
    margin-top: 30px;
    background-color: #FF8787;

}